*{
    font-family: Arial;
    font-size:13px;
    margin:0;
    border:0;
    
}
html{
    height:100%;
}
body{
    height:100%;
}
nav{
    height:89px;
    background-color: #fff;
}
 #img{
    margin-left:15px;
    margin-right:15px;
}
svg{
    widows: 18px;
    height:20px;
    font-weight:400;
    
}
ul{
    list-style-type: none;
    float:right;
    width:286.59px;
    height:30px;
    margin-top:15px;
    
}
li{
    display:inline-block;
}
 li img{
    width:35px;
    border-radius: 50%;
    
}

#bell{
    background-color:#737373;
    fill:white;
  box-sizing: border-box;
 padding:6px;
 width:25px;
 height:25px;
 
   
border-radius:50%;

}
#bell1{
    vertical-align:middle;
    margin-left:15px;
}

#grid1{


width:25px;
height:25px;
vertical-align:middle;
}

#grid{
    opacity:.55
}
#pic1{
    margin-left:15px;
    vertical-align:middle;
}
 main{
    display:flex;
    flex-direction:column;
    width:100%;
    height:70%;
    align-items:center;
    justify-content:center;
}
#logo{
    width:272px;
    height:92px;
}
container{
    margin-top:2em;
    width:584px;
    height:44px;
    background-color:#fff;
    flex-direction:row;
    display:flex;
    border-radius:5px;
    align-items:center;
    justify-content:center;
    box-sizing: border-box;
    border:1px solid #d1d1d3;
    box-shadow: 2px 2px #00000047
}
form{
width:530px;
height:34px;
padding-left:12px;
border:none;

}
input{
    width:100%;
    height:100%;
    font-size:16px;
    font-weight: 400;
   
    outline:none;
}


#mic1{
 
   width:54px;
    display:flex;
    align-items:center;
    justify-content: center;
}
#mic{
    width:25px;
    height:25px;
}
section{
    margin-top:1.5em;
    display:flex;
    flex-direction: row;
}
button{
    width:142.58px;
    height:36px;
    margin:12px;
    font-size: 13px;
    font-weight: 700;
    color:#757575;
    background-color: #f2f2f2;
    border:none;
}
#languages{
   text-align:center;
    margin-top:1.5em;
    font-weight: 400;
    color:#222222;
}
#languages a{
    text-decoration: none;
}
footer{
    position:fixed;
    bottom:0;
    
    background-color: #f1f2f2;
    height:100px;
    width:100%;
    display:flex;
    
    font-weight: 400;
    color:rgba(0, 0, 0, 0.54);
    flex-direction:column;
}
 
#first {
   
    height:50%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    border-bottom:2px solid #e4e4e4; 
    
    line-height: 40px;
    
}
#first p{
    margin-left:2em;
    font-size: 15px;
}
#second{
    height:50%;
    margin:0 4px;
    font-size:13px;
    line-height: 40px;
    color:#5f6368;
    font-weight: 400;
    display:flex;
    
    
    
}
aside a{
    text-decoration: none;
    color:#5f6368;
    display:inline-block;
    margin-right:1em;
    
}
#left{
    margin-left:2em;
    width:50%;

    
}

#right{
    display:flex;
   
    justify-content: flex-end;
    
    width:50%;
    
}
@media only screen and (max-width:584px){
    container{
        width:80%;
        
    }
    form{
        width:90%;
    }
    section{
        width:90%;
    }
    #first{
       height: 150px;
    }
    #second{
        height:400px;
        flex-direction:column;
    }
    #left{
    width:100vw;
    }
    #right{
        justify-content: flex-start;
        margin-left: 2em;
    }
    
}